{{> post-info post}}

{{#if loggedIn}}
<a href="/"> &larr; Go to homepage</a>
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>

  </div>
</form>
{{else}}
<a href="/login">Create account or Login in order to view the dashboard</a>

{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}